:root{   
    --cabecera-bg-color: #3b5998;
    --color-texto: #fff;
    --color-bg-cuerpo: #e9ebee;

}
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    font-size: 1em;
   

}
body{
    background-color: var( --color-bg-cuerpo );
}
.logo{
    align-self: center;
    padding-left: 20%;
}
.logo>h1>a:link, .logo>h1>a:visited, .logo>h1>a:hover .logo a:active{
    text-decoration:none;
    color:#fff;
    font-size: 1em;
    font-weight: bold;


}
.password > a {
    color:#fff;
    font-size: 0.8em;
    font-weight: bold;
}
.password a:hover{
    color:#6762FF;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: underline;
}

label{
    color : var(--color-texto );
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 0;
}
input{
    border-radius: 0;
    height: 23px;
    border: 0.2px solid #000;
}

.contenedor{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50% 30%;
    
}
.rememberpass{
    color : var(--color-texto );
    font-size: 0.5em;
    font-weight: bold;
}
@font-face{
    font-family:facebook;
    src: url(./fonts/facebook.otf);
}
.cabecera{
    display:grid;
    background-color: var(--cabecera-bg-color);
    /*grid-template-columns: 45% 20% 20% 15%;*/
    grid-template-columns: 49% 15% 15% 21%;
    grid-template-rows: 100%;
  
}

.inicio{
    display: grid;
    justify-content: start;
    margin-top: 8px;
    align-self: center;
}
.btnsubmit{
    
   width: 120px;
    background-color: var( --cabecera-bg-color );
    color: var(--color-texto );
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid #fff;
    cursor: pointer;
}
.usuario{
    display: grid;
    justify-content: start;
    align-content: start;
}
.usuario > input{
    width: 180px;
}
.password{
    display: grid;
    justify-content: start;
}
.password > input{
    width: 180px;
}
/*--------- CUERPO ---------*/
.cuerpo{
    display: grid;
    grid-template-columns: repeat(2, 500px); 
    grid-template-rows:  repeat(2, 200px);
    justify-self: center;
    background-color: var( --color-bg-cuerpo );
    padding-top: 1%;
}
.card > img {
    height: 150px;
    width: 140px;
    align-self: center;
}
.card {
    /* Add shadows to create the "card" effect */
    height: 200px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20px;
  }
  .conta-card{
    align-self: center;
  }
  .conta-card > h5{
    padding-top: 10px;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

/*---------PIE-------------*/
.pie{
    background-color: #fff;
}