:root{   
    --cabecera-bg-color: #3b5998;
    --color-texto: #fff;
    

}
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    font-size: 1em;
    /*margin: 0 auto;*/
}
.logo{
    align-self: center;
    padding-left: 20%;
}
.logo>h1>a:link, .logo>h1>a:visited, .logo>h1>a:hover .logo a:active{
    text-decoration:none;
    color:#fff;
    font-size: 0.8em;
    font-weight: bold;


}
.password > a {
    color:#fff;
    font-size: 0.8em;
    font-weight: bold;
}
.password a:hover{
    color:#6762FF;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: underline;
}

label{
    color : var(--color-texto );
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 0;
}
input{
    border-radius: 0;
    height: 23px;
    border: 1px;
}

.contenedor{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50% 30%;
    
}
.rememberpass{
    color : var(--color-texto );
    font-size: 0.5em;
    font-weight: bold;
}
@font-face{
    font-family:facebook;
    src: url(./fonts/facebook.otf);
}
.cabecera{
    display:grid;
    background-color: var(--cabecera-bg-color);
    grid-template-columns: 45% 20% 20% 15%;
    grid-template-rows: 100%;
  
}

.inicio{
    justify-self: center;
    align-self: center;
}
.btnsubmit{
    
   width: 120px;
    background-color: var( --cabecera-bg-color );
    color: var(--color-texto );
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid #fff;
    cursor: pointer;
}

.cuerpo1{
    background-color: red;
}
.pie1{
    background-color: royalblue;
}